<div class = "well">
  <b><%=user_comment.user.full_name%></b><br>
  <%= user_comment.body %>

  <%=link_to "like",  comment_likes_path(user_comment), method: :post %> - 
    <%= render :partial => "likes/index", :locals => {comment: user_comment} %>
  

  <%=link_to "Delete Comment", post_comment_path(user_comment.post, user_comment), method: :delete, data:{confirm: "Are you sure your want to delete this comment?", remote: true}%>
</div>