<%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well">
  <%= f.input :title %>
  <%= f.input :content, :input_html =>{:rows => 10}  %>
  </div>

<div class="well">
    <%= f.submit class: "btn-primary" %>
</div>

<% end %>
