<div class="hero-unit">
  <h1>All the Posts</h1>
</div>

<%if !@posts.empty?%>
  <% @posts.each do |post| %>
    <div class= "posts">
      <h3><%= post.title%></h3> 
      <strong>By <%= post.user.full_name%></strong>
      <div class="meta">
        <%= link_to time_ago_in_words(post.created_at) + " ago |  ", post %>
      <%if user_session%>
        <%if user_session = post.user%>
          <span class="admin">
                <%=link_to "Delete Post", post, method: :delete, data:{confirm: "Are you sure your want to delete this post?"}%>
          </span>
        <%end%>
      <%end%>
      </div>
    </div>
  <%end%>
<%else%>
<div class="alert alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>Blog Empty! :( </p>
</div>
<%end%>

<%if user_session%>
  <br><%= link_to "New Post", new_post_path, class: "btn btn-success" %>
<%else%>
  <br>Don't have a Blog H account? <%=link_to "Registrer", register_path, class: "btn"%><br><br>
  Already have a Blog H account? <%=link_to "Log in", login_path, class: "btn btn-success"%>
<%end%>
