<div class="hero-unit">
  <h1>Post</h1>
</div>

<fieldset>

  <h3>Title: "<%= @post.title %>"</h3>

  <h4><b>Content: <%= @post.content %></b></h4>
  

 </fieldset>
<%if @post.comments.size > 0%>
 
<fieldset>
   <legend>Comments</legend>

<% @post.comments.each do |comment| %>
  <p>
    <b><%= comment.commenter %><br></b>
  </p>
 
  <p>
    <%= comment.body %>
  </p>
<% end %>
 </fieldset>
 <%end%>

<%= simple_form_for([@post, @post.comments.build]) do |f| %> 
  <fieldset>
   <legend>Write a Comment</legend>
    <%= f.input :commenter %>
    <%= f.input :body %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
 
<br />
 
<%= link_to 'Back to Posts', posts_path %>