<div class="hero-unit">
  <h1>Post</h1>
</div>

<fieldset>

  <h3>Title: "<%= @post.title %>"</h3>
  <h3>Owner: "<%= @post.user.full_name %>"</h3>
  <h4><b>Content: <%= @post.content %></b></h4>

</fieldset>
<%if @post.comments.size > 0%> 
<fieldset>
   <legend>Comments</legend>
<% @post.comments.sort!{ |x,y| y.updated_at <=> x.updated_at}%>
<% @post.comments.each do |comment| %>

    <b><%= comment.commenter %></b><br>

    <%= comment.body %>
    <br>
    _____________________________________________
    <br>

<% end %>
 </fieldset>
<%end%>

<%= simple_form_for([@post, @post.comments.build]) do |f| %> 
  <fieldset>
   <legend>Write a Comment</legend>
    <%= f.input :commenter %>
    <%= f.input :body %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
 
<br />
 
<%= link_to 'Back to Posts', posts_path %>