<% content_for :after_body do %>
  <script src='http://connect.facebook.net/en_US/all.js'></script>
<% end %>

<%= hidden_field_tag "facebook_config", FACEBOOK_CONFIG[Rails.env][:app_id] %>

<fieldset>
  <legend>Post Content</legend>

<div class="well">
  <h1><%= @post.title %></h1>
</div>
  
  <%= link_to "Posted By: #{@post.user.full_name}", edit_user_path(@post.user) %> | 
  <% if current_user == @post.user%>
    <%= link_to 'Edit Post', edit_post_path(@post), class: "btn-link" %>
  <%end%>
  <div class = "well">
    <%if !@post.post_image%>
      <%= image_tag @post.post_image.url(:medium), class: "img-polaroid" %>
    <%end%>
    <%= markdown(@post.content) %>
  </div>

  <a class="post-to-feed" data-url="<%= post_url(@post) %>" data-title="<%= @post.title.upcase%>" data-content="<%= truncate(@post.content.to_s, :length => 17, :separator => ' ') %>"><p class= "btn btn-small btn-primary">Share to Facebook</p></a><br><br>
  
  <%= tweet_button(:url => @post_url,
                   :via => "horozco4",
                   :text => truncate(@post.content.to_s, :length => 100, :separator => ' '),
                   :count => "horizontal"
                  ) %>

</fieldset>

<div id="comments">
  <fieldset>
    <legend>Comments</legend>  
    <% if @post.comments%>
      <%=render @post.comments%>
      <%else%>
      <a>be the first to comment on this post</a>
    <%end%>
  </fieldset>
</div>

<%= simple_form_for([@post, @post.comments.build], remote: true) do |f| %> 
  <fieldset>
   <legend>Write a Comment</legend>
    <div class = "well">
      <%if !current_user%>
        <%= f.input :commenter %>
      <%end%>
      <%= f.input :body, :input_html =>{:rows => 8, :columns => 100} %>
      <div class="actions">
        <%= f.button :submit, "Comment", class: "btn-primary" %>
      </div>
    </div>  
  </fieldset>
<% end %>
<%= link_to 'Back to Posts', posts_path, class: "btn" %>
<% if current_user == @post.user%>
  <%= link_to 'Edit Post', edit_post_path(@post), class: "btn" %>
<% end %>